
img {
  display: block;
  width: 300px;
  margin: auto;
  align-self: center;
}
form {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

div.links {
  width: 70%;
  margin: auto;
  text-align: left;
}

ul {
  margin-bottom: 150px;
  padding-left: 0;
  margin-left: 0;
}

li {
  list-style: none;
  font-size: 1.25rem;
  height: 2rem;
  margin: 1rem 0;
}

li>a {
  text-decoration: none;
  color: black;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #33A699;
  border-radius: 5px;
  align-items: center;
  padding: 0 0.5rem;
}

li>a:hover {
  background-color: #33A699;
  color: white;
}

.heading-container {
  text-align: center;
  margin: auto;
  width: 70%;
}

p {
  width: 70%;
  margin: auto;
  font-size: 1.1rem;
  margin-top: .5rem;
  text-align: justify;
}
p:first-of-type {
  margin-top: 2rem;
}
form > p {
  width: 100%;
}
table {
  width: 100%;
}
form > * {
  margin-bottom: 2rem;
}
table, th, td {
  border:1px solid green;
  border-collapse: collapse;
}

fieldset {
  border: 1px solid green;
}
tr {
  width: 100%;
}

tr > th:first-of-type {
  width: 40%;
}
tr > td:first-of-type {
  width: 40%;
  padding: 1em;
}

td {
  text-align: center;
}
select {
  width: 90%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  
}
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  background-color: #33A699;
  box-shadow: 5px 6px rgb(177, 176, 176);
  font-size: 20px;
}

button:hover {
  width: 205px;
  height: 53px;
  cursor: pointer;
}

li>a:visited {
  background-color: #33A699;
}